body {
    background-color: #536172;
    }

table{
    border-collapse: collapse;
    border-spacing: 0px;
    border: 3px solid #000000;
    font-weight: bolder;
    font-family: helvetica;
    font-size: 20px;
    }

th {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
    font-family: helvetica;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    }

td{
    vertical-align: middle;
}

td.kp8 {
    border: 0px solid #000000;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    }

tr.kp8 {
    background-color: #35435a;
}

td.bottomRow {
    height: 20px;
    }

input[type=button]{
    border: 2px solid #000000;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 12%;
    margin-bottom: 0px;
    padding: 0px;
    width: 90%;
    height: 90%;
    background-color: #646464;
    font-family: "Consolas";
    font-weight: bold;
    font-size: 20px;
    white-space: normal;
    }

input.btnRemove[type=button]{
    border: 0px solid #000000;
    background-color: #a9b8d6;
    position: inherit;
    margin: 0px;
    height: 100px;
    width: 90%;
    font-family: helvetica;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

td.btnAdd{
    height: 100px;
}
input.btnAdd[type=button]{
    background-color: #A9B8D6;
    border: 0px solid #000000;
    height: 100%;
    margin: 0px;
}

td.Address{
    background-color: #A9B8D6;
    text-align: center;
}

td.Message{
    background-color: #A9B8D6;
    border: 0px solid #000000;
    height: 100px; 
    text-align: center;
}
input.inpMessage[type=text]{
    height: 80%;
    width: 90%;
}

td.Name{
    background-color: #A9B8D6;
    border: 0px solid #000000;
    height: 50px;
    text-align: center;
}
input.inpName[type=text]{
    height: 80%;
    width: 90%;
}

td.PhoneNumber{
    background-color: #A9B8D6;
    border: 0px solid #000000;
    height: 50px;
    text-align: center;
}
input.inpPhoneNumber[type=text]{
    height: 80%;
    width: 90%;
}

table.scanAllButtons{
    width: 90%;
    border: 0px solid #000000;
}

table.queryButton{
    border: 0px solid #000000;
    width: 900px;
    position: fixed;
    top: 10px;
    left: 300px;
}

td.blank {
    height: 10px;
    background-color: #536172;
}

tr.queryButton {
    background-color: #a9b8d6;
}

table.kp8{
    width: 250px;
    position: fixed;
    top: 10px;
    left: 10px;
}

td.btnRemove{
    margin: 0px;
    height: 100%;
    width: 100px;
    text-align: center;
}

td.queryButton {
    padding: 10px;
    padding-left: 25px;
}
